.shop-header {
    background:#134b72;
    padding: 10px;
    min-height:112px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shop-header .logo {
    font-family: "Playfair Display", Georgia, serif;
    color: rgb(253, 250, 250);
    font-size: 2.5rem;
    margin-left: 2rem;
    padding-left: 1rem;
}




